-# #navbarToggleExternalContent.collapse
-#   .bg-dark.p-4
-#     %h5.text-white.h4 Collapsed content
-#     %span.text-muted Toggleable via the navbar brand.
-# %nav.navbar.navbar-dark.bg-dark
-#   .container-fluid
-#     %button.navbar-toggler{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarToggleExternalContent", "data-bs-toggle" => "collapse", :type => "button"}
-#       %span.navbar-toggler-icon
%main
  %section.py-5.text-center.container
    .row.py-lg-5
      .col-lg-6.col-md-8.mx-auto
        %h1.fw-light ADS
        %p.lead.text-muted Do you have something? Perhaps this is a particle of happiness for someone.
        %p
          %a.btn.btn-primary.my-2{:href => "#"} Help
          %a.btn.btn-secondary.my-2{:href => "#"} About