%p#notice= notice

.card
  .card-body
    .container
      .row 
        .col
          = @advertisement.content
        .col
          Place for picture

= link_to 'Edit', edit_advertisement_path(@advertisement)
\|
= link_to 'Back', advertisements_path
